<.header>
  Change Password
</.header>

<.simple_form :let={f} for={@changeset} action={~p"/users/#{@user.id}/change_password"} method="POST">
  <.input field={f[:old_password]} type="password" label="Old Password" />
  <.input field={f[:password]} type="password" label="New Password" />
  <.input field={f[:password_confirmation]} type="password" label="Confirm New Password" />
  <:actions>
    <.button>Change Password</.button>
  </:actions>
</.simple_form>
